<!DOCTYPE html>
<html lang="en">
<%- include ("header") %>

<body>

<div role="main" class="intro">
  <br />
  <h1 class="text-center">Employee Management System</h1>
    <div class="col-12">
      <h2 class="text-center"><br>
     Made with  MongoDB, ExpressJS, Node.js <br /> <br /> (MEN Stack)</h2>
      <br>
    </div>

  <br />
  <br />

    <a href="/list" class="viewBtn">View Employee Records</a>




  <br />

</div>



<%- include ("footer") %>
<%- include ("scripts") %>
</body>
</html>
