<!DOCTYPE html>
<html lang="en">
<%- include ("header") %>

<body>

<div role="main" class="container" style="width: 100%;">
  <br />
  <h1>Employee Management System</h1>
    <div class="col-12">
      <h2><br>
      The system contains employee records and it is made with ExpressJS, Node.js and MongoDB for data storage. (MEN Stack)</h2>
      <br>
    </div>

  <br />
  <br />
  <div class="container">

  <div class="button-container text-center">

    <a href="/list"><button id="viewBtn" class="btn btn-success">View Employee Records</button></a>
  </div>



  <br />

</div>



<%- include ("footer") %>
<%- include ("scripts") %>
</body>
</html>
