<!DOCTYPE html>
<html lang="en">
  <%- include ('header') -%>

<body>
  <%- include ('navbar') -%>
  <main>
<div class="container new">
  <br /><h2>Add Employee</h2>

  <form method="post" action="/process" >

    <div class="form-group">
      <input type="firstName" name="firstName" class="form-control" id="firstName" placeholder="Enter First Name">
    </div>
    <div class="form-group">
      <input type="lastName" name="lastName" class="form-control" id="lastName" placeholder="Enter Last Name">
    </div>

    <div class="form-group">
      <input type="title" name="title" class="form-control" id="jobTitle" placeholder="Enter Job Title">
    </div>


    <input name="_csrf" value="<%= csrfToken %>" type="hidden" />
    <button type="submit" class="btn btn-outline-primary text-center">Add Employee</button>
  </form>
</div>
</main>
<%- include ('footer') -%>
</body>

</html>
